body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff; /* White background */
    border-bottom: 2px solid #ff7f50; /* Orange border bottom */
}

.navbar-brand {
    color: #ff7f50 !important; /* Orange color for the brand */
}

.nav-link {
    color: #333 !important; /* Dark color for links */
    padding: 10px 20px;
    font-weight: bold;
    position: relative;
}

.nav-link:hover {
    color: #ff7f50 !important; /* Orange color on hover */
}

.nav-link.active {
    color: #ff7f50 !important; /* Orange color for active link */
}

.nav-link.active::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 5px; /* Space between text and underline */
    border-bottom: 3px solid #ff7f50; /* Orange underline */
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h3, h4 {
    color: #ff7f50; /* Orange color */
    font-family: 'Montserrat', sans-serif;
}

p, ul, table {
    text-align: justify;
}

a.btn-info {
    background-color: #17a2b8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a.btn-info:hover {
    background-color: #138496;
}

a.btn-primary, .btn-primary {
    background-color: #ff4500; /* Darker orange */
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a.btn-primary:hover, .btn-primary:hover {
    background-color: #c74300; /* Darker shade of orange */
}

a.btn-secondary, .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a.btn-secondary:hover, .btn-secondary:hover {
    background-color: #5a6268;
}

a.btn-success, .btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a.btn-success:hover, .btn-success:hover {
    background-color: #218838;
}

.table {
    margin-top: 20px;
}

thead th {
    background-color: #ff7f50; /* Orange color */
    color: #fff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
    padding: 10px;
}

.modal-content {
    border-radius: 5px;
}

.modal-header,
.modal-footer {
    border: none;
}

.btn {
    cursor: pointer;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #aaa;
}

body {
    background: linear-gradient(135deg, #fff5e6, #ffebcc);
}
